<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light mb-5">

  <a class="navbar-brand" routerLink="/"><img width="100rem" src="../assets/logo-IDEAPP.png" alt="logo"></a>

  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="mainNavbar"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/subjects"  style="color: black;">Asignaturas
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged && (isAdmin || isEditor || isTeacher)">
        <a class="nav-link" routerLink="/departments"  style="color: black;">Departamentos
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/documents"  style="color: black;">Documentos
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link btn btn-primary  text-light mr-3 px-4" routerLink="/user/profile">Pefil</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link btn btn-primary  text-light mr-3 px-4" routerLink="/user/login">Entrar
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link btn btn-secondary text-light" (click)="onLogout()">Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</nav>