<div class="card mt-1">
    <div class="card-body">
        <form #departmentForm="ngForm" (ngSubmit)='onSubmit(departmentForm)'>

            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="departmentService.selectedDepartment.$key">
            
            <div class="form-group">
                <input type="text" class="form-control" name="departmentName" #departmentName="ngModel"
                    [(ngModel)]="departmentService.selectedDepartment.departmentName"
                    placeholder="Nombre del departamento">
            </div>

            <div class="form-group">

                <input 
                type="text" 
                class="form-control" 
                name="headDepartmentName" 
                #headDepartmenName="ngModel"
                [(ngModel)]="departmentService.selectedDepartment.headDepartmentName"
                placeholder="Nombre del jefe de departamento"
                >

            </div>

            <div class="form-group">
                <button class="btn btn-primary mr-3 px-4" type="submit">
                    <i class="fas fa-plus-circle"> Añadir departamento</i>
                </button>
                <button class="btn btn-secondary px-4" type="reset" (click)="resetForm(departmentForm)">
                    <i class="fas fa-sync-alt"> Vaciar formulario </i>
                </button>
            </div>
        </form>
    </div>
</div>