<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">Lista de Asignaturas</h6>
    <table class=".table table-sm table-hover">

      <tbody>
          <tr *ngFor="let subject of subjectList">
              <td>{{subject.subjectName}}</td>
              <td>{{subject.teacherName}}</td>
              <td>{{subject.schoolYear}}</td>
              <td>
                  <a class="btn btn-secondary text-white" (click)="onEdit(subject)">
                      <i class="far fa-edit"></i>
                  </a>
                  <a class="btn btn-danger text-white"(click)="onDelete(subject.$key)">
                    <i class="far fa-trash-alt"></i>
                </a>
              </td>
          </tr>
      </tbody>

    </table>
  </div>

</div>
