<div class="card mt-1">
  <div class="card-body">

    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            Filtrar asignaturas por curso:
          </p>

        </div>
        <div class="col">
          <select class="form-control" [(ngModel)]="courseFullInfo" name="selectionCourse"  (change)="getListadoAsignaturas()">
            <option *ngFor="let course of courseList" value="{{course.course}} {{course.level}}">
              {{course.course}} {{course.level}}
            </option>
          </select>
        </div>
      </div>
    </div>
    
    <table class="table table-sm table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Profesor</th>
          <th scope="col">Curso</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let subject of subjectList">
              <td scope="row">{{subject.subjectName}}</td>
              <td scope="row">{{subject.teacherName}}</td>
              <td scope="row">{{subject.schoolYear}}</td>
              <td>
                  <button class="btn btn-secondary text-white mx-1 px-3" *ngIf="isAdmin || isEditor" (click)="onEdit(subject)">
                      <i class="far fa-edit"></i>
                  </button>
                  <button class="btn btn-danger text-white mx-1 px-3" *ngIf="isAdmin || isEditor" (click)="onDelete(subject.$key)">
                    <i class="far fa-trash-alt"></i>
                </button>
               
              </td>
          </tr>
      </tbody>

    </table>
  </div>

</div>
