.form-control.login-user {
    border: 0 solid #fff !important;
  }
  .btn-social{
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
  }
  
  .btn-facebook{
    background: #3b5998;
  }
  .btn-google{
    background: #dd4b39;
  }

 .prueba{
    /* Aquí el origen de la imagen */
    background-image: url(../../../../assets/imagenPortada.jpg);
    /* background-image: url(../../../../assets/imagenPortada.jpg); */
  
    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;
  
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
  
    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;
  
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
    
  
    /* Damos un color de fondo mientras la imagen está cargando  */
    /* background-color: #464646; */
  }