<div class="card mt-5">
    <div class="card-body">

        <form #documentForm="ngForm" (ngSubmit)="onSubmit(documentForm)">
            <!-- Input oculto sirve para reutilizar el formulario y usarlo para altas y modificaciones -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="userKey">
            <!-- si seleccionamos editar un objeto rellenara el campo con la key y no se creara un objeto nuevo-->

            <div class="form-group">
                <!-- id="documentName" name="documentName" #documentName="ngModel" -->
                <input type="text" class="form-control" name="documentName"
                    [(ngModel)]="documentName" placeholder="Nombre del documento">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="userName" [(ngModel)]="fullNameUser"
                    readonly>
            </div>

            <div class="form-group">
                <select class="form-control" [(ngModel)]="subjectOption" name="selectionSubject">
                    <option *ngFor="let subject of subjectList" value="{{subject.$key}}">{{subject.subjectName}}
                    </option>
                </select>
            </div> 

            <div class="form-group">
                <h6>Seleccionar documento: </h6>
                <input type="file" accept=".pdf, .odt, .docx, .doc" (change)="onUpload($event)">
            </div>
            <div class="progress mb-4">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width]="(uploadPercent|async)+'%'">
                </div>

            </div>
            <input type="hidden" [value]="urlFile | async" #fileUser>

            <div class="form-group">
                <button *ngIf="urlFile | async; else btnDisabled" class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Subir documento
                </button>
                <ng-template #btnDisabled>
                    <button class="btn btn-secondary" type="submit" disabled=true>
                        <i class="fas fa-plus-circle"></i> Subir documento
                    </button>

                </ng-template>
                <!-- vacia los formularios-->
                <button class="btn btn-secondary" type="reset" (click)="resetForm(documentForm)">
                    <i class="fas fa-sync-alt"></i> Vaciar formulario
                </button>
            </div>

        </form>
    </div>
</div>
<!--<router-outlet></router-outlet>-->