<div class="card mt-1">
    <div class="card-body">

        <form #subjectForm="ngForm" (ngSubmit)="onSubmit(subjectForm)">
            <!-- Input oculto sirve para reutilizar el formulario y usarlo para altas y modificaciones -->
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="subjectService.selectedSubject.$key">
            <!-- si seleccionamos editar un objeto rellenara el campo con la key y no se creara un objeto nuevo-->

            <div class="form-group">
                <input type="text" class="form-control" name="subjectName" #subjectName="ngModel"
                    [(ngModel)]="subjectService.selectedSubject.subjectName" placeholder="Nombre de la asignatura">

            </div>


            <div class="form-group">
                <input type="text" class="form-control" name="teacherName" #teacherName="ngModel"
                    [(ngModel)]="subjectService.selectedSubject.teacherName" placeholder="Nombre del profesor">

            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="schoolYear" #schoolYear="ngModel"
                    [(ngModel)]="subjectService.selectedSubject.schoolYear" placeholder="Curso escolar">
            </div>

            <div class="form-group">
                <button class="btn btn-primary mx-1 px-4" type="submit">
                    <i class="fas fa-plus-circle"></i> Añadir / Modificar
                </button>
                <!-- vacia los formularios-->
                <button class="btn btn-secondary mx-1 px-4 mt-1" type="reset" (click)="resetForm(subjectForm)">
                    <i class="fas fa-sync-alt"></i> Vaciar formulario
                </button>
            </div>

        </form>
    </div>
</div>
<!--<router-outlet></router-outlet>-->