
<div class="card mt-5">
    <div class="card-body">
        <form #subjectForm="ngForm" (ngSubmit)="onSubmit(subjectForm)">
            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="subjectName"
                #subjectName="ngModel"
                [(ngModel)]="subjectService.selectedSubject.subjectName"
                placeholder="Nombre de la asignatura"
                >

            </div>
            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="schoolYear"
                #schoolYear="ngModel"
                [(ngModel)]="subjectService.selectedSubject.schoolYear"
                placeholder="Curso escolar"
                >

            </div>
            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="teacherName"
                #teacherName="ngModel"
                [(ngModel)]="subjectService.selectedSubject.teacherName"
                placeholder="Nombre del profesor"
                >

            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit"  >
                    <i class="fas fa-plus-circle"></i> Añadir Asignatura
                </button>
                <!-- vacia los formularios-->
                <button class="btn btn-secondary" type="reset" (click)="resetForm(subjectForm)">
                    <i class="fas fa-sync-alt"></i>  Reset
                </button>
            </div>

        </form>
    </div>
</div>
<!--<router-outlet></router-outlet>-->
