<div class="container align-content-center text-center mb-5">
    <br>
    <h2 class="mt-5">Oops!</h2>
    <br>
    <h3>404 Not Found</h3>
    <br>
    <br>

    <div class="row justify-content-around justify-content-md-center ">
        <div class="col-sm-4">
            <button routerLink="/" type="button" class="btn btn-primary btn-lg">
                Inicio
            </button>
        </div>
        <div class="col-sm-4">
            <button routerLink="/user/profile" type="button" class="btn btn-primary btn-lg">
                Perfil
            </button>
        </div>
    </div>
</div>