<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  
  <!-- Poner la imagen -->
  <!--BARRA SUPERIOR-->
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" routerLink="/"><img width="100rem" src="../assets/logo-IDEAPP.png"
        alt="logo"></a>
    <a class="navbar-brand" routerLink="/">IDEApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="subjects" *ngIf="auth.user | async as user">Asignaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="documents" *ngIf="auth.user | async as user">Documentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="departments" *ngIf="auth.user | async as user">departments</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            informacion varia
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="departments">Departamento</a>
            <a class="dropdown-item" href="gruop">Grupo</a>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>

    <div class="userDiv" *ngIf="auth.user | async as user;" routerLink="settings">
      {{ user.email }}
      <button (click)="auth.logout()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </nav>
  <!-- fin barra superior-->
</div>

<div *ngIf="auth.user | async as user; else login"></div>
<!--Formulario Login-->
<ng-template #login>
  <div class="container text-center mx-auto mt-5 d-block justify-content-center">
    <form class="form">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>

      <input class="form-control" type="text" name="email" placeholder="Escribe tu email ..."
        [(ngModel)]="auth.email" />

      <br />
      <br />

      <input class="form-control" type="password" name="pass" placeholder="Escribe tu contraseña ..."
        [(ngModel)]="auth.pass" />

      <br /><br />
      <button class="btn btn-primary" (click)="signEmail()">Email Login</button>
      <p class="mt-5 mb-3 text-muted">IDEApp - 2020</p>
    </form>
  </div>

</ng-template>






<router-outlet *ngIf="auth.user | async as user"></router-outlet>

