<div class="jumbotron jumbotron-fluid mt-5 px-0 img-responsive" style="background-image: url(../../../assets/documentImage.png);  background-position: center top;">
  <div class="container text-light">
    <h1>Documentos</h1>
    <p></p>
  </div>
</div>

<div class="container mt-2">
  <br>
  <br>
  <div class="row text-center justify-content-center">
    <div class="col">
      <h3>Añadir documentos</h3>
      <app-document></app-document>
    </div>
  </div>
  <div class="container mt-5"></div>
  <div class="row text-center justify-content-center mt-auto">
    <div class="col">
      <h3>Listado de documentos</h3>
      <app-document-list></app-document-list>
    </div>
  </div>
</div>