<!-- <div class="container-fluid mt-5">

    <div class="row">
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <form [formGroup]="myForm">
                <div class="row">

                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                        <input type="text" class="form-control mb-3" placeholder="Datepicker" bsDatepicker
                            formControlName="date" />
                        <pre *ngIf="myForm.value.date" class="code-preview">{{myForm.value.date | date}}</pre>
                    </div>

                </div>
            </form>
        </div>
    </div>




    <h1>Noticias</h1>
    <p>Se pondrán las novedades y noticias</p>
    <p> de las redes sociales del instituto</p>


</div> -->