<div class="container-fluid mt-5">
    <br>

    <h1 class="mt-5">Bienvenido a la página principal del IES Alquerías</h1>
    <br>

    <div class="container">
        <img class="d-block w-100" src="../../../assets/imagenPortada.jpg" alt="Imgen portada">
    </div>

    <br>
    <br>

    <!-- <div class="container-fluid">
        <div class="row">
            <h3>
                Visita nuestras redes
            </h3>
        </div>
        <div class="row">
            <div class="col-1">
                <a href="https://www.facebook.com/iesdealquerias/" class="fa fa-facebook"></a>
            </div>
            <div class="col-1">
                <a href="https://www.youtube.com/channel/UCoLSuDOUTTvsHyRGv1x554g" class="fa fa-youtube"></a>
            </div>
            <div class="col-1">
                <a href="https://twitter.com/iesdealquerias" class="fa fa-twitter"></a>
            </div>
            <div class="col-1">
                <a href="https://www.instagram.com/iesdealquerias/?hl=es" class="fa fa-instagram"></a>
            </div>
        </div>
    </div> -->

    <!-- <div class="row mt-5">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <form [formGroup]="myForm">
                <div class="row">

                    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                        <input type="text" class="form-control mb-3" placeholder="Datepicker" bsDatepicker
                            formControlName="date" />
                        <pre *ngIf="myForm.value.date" class="code-preview">{{myForm.value.date | date}}</pre>
                    </div>

                </div>
            </form>
        </div>
    </div> -->

</div>