<div class="card  mt-1">
    <div class="card-body">
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let document of documentList">
                    <td> {{document.documentName}} </td>
                    
                    <td>
                        <!-- <a class="btn btn-secondary text-white" (click)="onEdit(document)">
                            <i class="fas fa-edit"></i>
                        </a> -->
                        <a class="btn btn-danger text-white px-4" (click)="onDelete(document.$key)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>