<div class="card  mt-1">
    <div class="card-body">

        <div class="container">
            <div class="row">
              <div class="col">
                <p>
                  Filtrar documentos por asignatura:
                </p>
      
              </div>
              <div class="col">
                <select class="form-control" [(ngModel)]="subjectName" name="selectionSubject"  (change)="getListadoDocumentos()">
                  <option *ngFor="let subject of subjectList" value="{{subject.subjectName}}">
                    {{subject.subjectName}}
                  </option>
                </select>
              </div>
            </div>
          </div>

        <table class="table table-sm table-hover mt-2">
            <thead>
                <tr>
                    <th scope="col">Nombre del documento</th>
                    <th scope="col">Nombre de la asignatura</th>
                    <th scope="col">Nombre del propietario/a</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documentList">
                    <td> {{document.documentName}} </td>
                    <td> {{document.subjectName}} </td>
                    <td> {{document.userName}} </td>
                    
                    <td>
                        <!-- <a class="btn btn-secondary text-white" (click)="onEdit(document)">
                            <i class="fas fa-edit"></i>
                        </a> -->
                        <a class="btn btn-danger text-white px-4" *ngIf="isAdmin || isEditor || isTeacher" (click)="onDelete(document)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>