<section id="register" class="mb-5">
  <br>
  <div class="container">

    <div class="card_register mt-5">
      <div class="card">
        <div class="card-body text-center">
          <form #formRegister="ngForm" (ngSubmit)="onSubmit(formRegister)">
            <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="userService.selectedUser.$key">

            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Nombre"
                [(ngModel)]="userService.selectedUser.name" required>
              <input type="text" name="surname1" class="form-control" placeholder="Primer apellido"
                [(ngModel)]="userService.selectedUser.surname1" required>
              <input type="text" name="surname2" class="form-control" placeholder="Segundo apellido"
                [(ngModel)]="userService.selectedUser.surname2">
            </div>

            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email"
                [(ngModel)]="userService.selectedUser.email" required minlength="8">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password"
                [(ngModel)]="userService.selectedUser.password" required minlength="5" maxlength="10">
            </div>

            <div class="form-group">
              <h6>Cuidado con esos</h6>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="admin" value="admin"
                  (change)="showContent($event)">
                <label class="form-check-label" for="admin">
                  Administrador
                </label>
              </div>

              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="editor" value="editor"
                  (change)="showContent($event)">
                <label class="form-check-label" for="editor">
                  Editor
                </label>s
              </div>
              <br>
              <br>

              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="teacher" value="teacher"
                  (change)="showContent($event)">
                <label class="form-check-label" for="teacher">
                  Profesor
                </label>
              </div>

              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="role" id="student" value="student"
                  (change)="showContent($event)">
                <label class="form-check-label" for="student">
                  Estudiante
                </label>
              </div>
            </div>

            <div class="container" id="studentForm" style="display: none;">
              <div class="row">
                <div class="col-sm">
                  <div class="form-group">
                    <input type="text" name="contact1.tutor" class="form-control"
                      placeholder="Nombre y apellidos del tutor 1" [(ngModel)]="userService.contact1.tutor" required>

                    <input type="text" name="contact1.address" class="form-control" placeholder="Dirección del tutor 1"
                      [(ngModel)]="userService.contact1.address" required>

                    <input type="tel" name="contact1.phone" class="form-control" placeholder="Teléfono del tutor 1"
                      [(ngModel)]="userService.contact1.phone" required>

                    <input type="email" name="contact1.email" class="form-control" placeholder="Email del tutor 1"
                      [(ngModel)]="userService.contact1.email" required>
                  </div>
                </div>

                <div class="col-sm">
                  <div class="form-group">
                    <input type="text" name="contact2.tutor" class="form-control"
                      placeholder="Nombre y apellidos del tutor 2" [(ngModel)]="userService.contact2.tutor"
                      required>

                    <input type="text" name="contact2.address" class="form-control" placeholder="Dirección del tutor 2"
                      [(ngModel)]="userService.contact2.address" required>

                    <input type="tel" name="contact2.phone" class="form-control" placeholder="Teléfono del tutor 2"
                      [(ngModel)]="userService.contact2.phone" required>

                    <input type="email" name="contact2.email" class="form-control" placeholder="Email del tutor 2"
                      [(ngModel)]="userService.contact2.email" required>
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group" id="teacherForm" style="display: none;">
              <input type="text" name="dni" class="form-control" placeholder="DNI del profesor"
                [(ngModel)]="userService.selectedUser.dni" required>

              <input type="text" name="address" class="form-control" placeholder="Dirección del profesor"
                [(ngModel)]="userService.selectedUser.address" required>

              <input type="tel" name="phone" class="form-control" placeholder="Teléfono del profesor"
                [(ngModel)]="userService.selectedUser.phone" required>

              <input type="text" name="departmentName" class="form-control"
                placeholder="Nombre del departamento al que pertenece"
                [(ngModel)]="userService.department.departmentName" required>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>


          </form>

        </div>

      </div>
    </div>
  </div>
</section>